.student-button-container {
    margin-top: 67px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-students-body {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    align-items: center;
    color: #000000;
}

.button-add-student {
    position: relative;
    background: #49C2E8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    width: 100%;
    max-width: 335px;
    cursor: pointer;
}

.button-text-container {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.button-add-student:hover {
    background: #2bbbe7;
}

.button-add-student svg {
    cursor: inherit;
    margin-right: 15px;
    align-items: center;
}

.button-add-student span {
    cursor: inherit;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 480px) {
    .button-add-student {
        max-width: 100%;
        margin-top: 22px;
    }

    .student-button-container {
        position: relative;
        margin-top: 47px;
        width: 100%;
        display: grid;
        justify-content: unset;
    }

    .text-students-body {
        font-size: 30px;
    }
}