.avatar-container {
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.avatar-circle {
    margin-top: 2%;
    text-align: center;
    display: grid;
    height: 80px;
    width: 80px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}

.avatar-circle span {
    margin: auto;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #49C2E8;
    cursor: default;
}

.avatar-text {
    margin-left: 10px;
    margin-top: 5px;
}

.avatar-change-button {
    width: 140px;
    height: 20px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    text-align: left;
    text-decoration-line: underline;
    color: #000000;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.inputfile {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.avatar-size {
    margin-top: 4px;
    width: 55px;
    height: 16px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #000000;
}