.avatar-container {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.avatar-circle {
    margin-top: 2%;
    text-align: center;
    display: grid;
    height: 80px;
    width: 80px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}

.avatar-circle span {
    margin: auto;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #49C2E8;
}

.avatar-text {
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.avatar-change-button {
    width: 140px;
    height: 20px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    text-align: left;
    align-items: left;
    text-decoration-line: underline;
    color: #000000;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.inputfile {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.avatar-size {
    width: 55px;
    height: 16px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: 6px;
    color: #000000;
}



.form-container {
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    flex-direction: column;
    height: 33em;
    max-width: 837px;
}

.input-field {
    display: flex;
    padding-top: 20px;
    align-items: left;
    flex-direction: column;
}

.field-name {
    min-width: 38px;
    height: 20px;
    text-align: left;
    margin-bottom: 8px;

    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    
    line-height: 20px;
    color: #000000;
}

.field-input {  
    position: relative;
    padding: 16px 0px 12px 20px;
    width: 360px;
    outline: none;
    border: none;
    background: #FFFFFF;
    display: flex;
    align-items: center;

    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.field-select {  
    position: relative;
    padding: 16px 77px 12px 20px;
    width: 380px;
    outline: none;
    border: none;
    background: #FFFFFF;
    display: flex;
    align-items: center;

    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.pseudo-select {
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.pseudo-select:after {
    content: "";
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 75%;
    right: 12%;
    z-index: 1;
    margin-top: -3px;
}

.submit {
    margin-bottom: 3%;
    width: 380px;
    position: relative;
    background: #49C2E8;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.submit-background {
    left: 0px;
    right: 0px;
    top: 0%;
    bottom: 0%;
    background: #49C2E8;
    border-radius: 10px;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.submit-text {
    width: 380px;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    cursor: pointer;
}

.pseudo-select-colors {
    background: #FFFFFF;
    top: 105%;
    padding-left: 5px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 6px;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}

.color-circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 20px;
    border: none;
    outline: none;
}

.color-circle:hover {
    box-shadow: 0px 0px 10px #000000;
}




.table {
    margin-top: 2%;
    width: 100%;
    position: relative;
}

.table thead {
    text-align: left;
}
    .table th {
        padding-top: 25px;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        width: 80px;
        /* width: 100px; */
        /* padding-right: 40px; */
    }

    .table th:first-child {
        width: 100px;
        padding: 25px 21px 0px 19px;
    }



.table tbody {
    width: 100%;
    background: none;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

    .table td {
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        width: 80px;
        text-align: left;
        padding: 20px 60px 0px 2px;
    }

    .table td:first-child {
        padding-right: 20px;
        padding-left: 20px;
        width: 40px;
    }

    .table td:nth-child(2) {
        width: 300px;
        padding-right: 20px;
    }

    .table td:nth-child(3) {
        width: 300px;
        padding-right: 20px;
    }

    .table td:last-child {
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }


.table-header-text {
    width: 100px;
    height: 20px;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.table-color-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 21px;
}

.table-trash-circle {
    display: grid;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0px 0px 16.3715px rgba(0, 0, 0, 0.1);
}

.table-trash-circle:hover {
    border: 1px solid #000000
}