.body {
    position: relative;
    margin-left: 13%;
    margin-right: 13%;
    height: 100%;
}

.button-back {
    display: flex;
    align-items: center;
    width: max-content;
    margin-top: 32px;
    margin-left: 12.5%;
    border: none;
    background: none;
    outline: none;
    text-align: left;
}

.button-back:hover {
    text-decoration-line: underline;
}

.button-back span {
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-left: 16px;
}



@media screen and (max-width: 480px) {
    .body {
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 53px;
    }

    .button-back {
        margin-left: 4%;
        margin-top: 22px;
    }
}