.content-container {
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    height: 30em;
    max-width: 837px;
}

.input-field {
    display: flex;
    padding-top: 2%;
    align-items: left;
    flex-direction: column;
}

.field-name {
    min-width: 38px;
    height: 20px;
    text-align: left;

    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.field-input {  
    position: relative;
    height: 48px;
    width: 380px;
    outline: none;
    border: none;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.field-select {  
    position: relative;
    height: 48px;
    width: 380px;
    outline: none;
    border: none;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.pseudo-select {
    position: relative;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
}

.pseudo-select-options {
    position: absolute;
    top: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    background: #FFFFFF;

    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.pseudo-select:after {
    content: "";
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 75%;
    right: 12%;
    z-index: 1;
    margin-top: -3px;
}

.option {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 15px;
    width: 380px;
    text-align: left;
    background-color: #FFFFFF;
    outline: rgba(73, 194, 232, 0.11);;
    border: none;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
    color: #000000;
}

.ok {
    position: absolute;
    right: 10%;

}

.submit {
    margin-top: 2%;
    width: 380px;
    position: relative;
    background: #49C2E8;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.submit-background {
    left: 0px;
    right: 0px;
    top: 0%;
    bottom: 0%;
    background: #49C2E8;
    border-radius: 10px;
}

.submit-text {
    width: 380px;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}