.student-button-container {
    position: relative;
}

.text-students-body {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    align-items: center;
    color: #000000;
}

.button-add-student {
    position: relative;
    background: #49C2E8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    padding-left: 75px;
    padding-right: 60px;
    cursor: pointer;
}

.button-add-student:hover {
    background: #2bbbe7;
}

.button-add-student img {
    cursor: inherit;
    margin-right: 15px;
    align-items: center;
}

.button-add-student span {
    cursor: inherit;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}